<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="content-grid mdl-grid">
        <%= render '/projects/shared/last_projects' %>
      </div>
    </div>
    <div class="col-md-3">
      <%= render '/users/shared/last_users' %>
      <hr>
      <%= render '/layouts/shared/tags_cloud' %>
      <hr>
      <%= render 'news_items/shared/last_news_items' %>
    </div>
  </div>
</div>