<% @applications.each do |application| %>
    <div class="container">
      <%= application.name %>
      <%= application.surname %>
      <%= application.name %>
      Status: <%= application.is_confirmed %>
    </div>
<% end %>