<% puts "| #{comment.inspect} |" + comment.text.nil?.to_s %>
<% comment.destroy if comment.text.nil? %>
<div>
<%= comment.commentable_id %>
<%= comment.text unless comment.text.nil? %>
<%= comment.id unless comment.text.nil? %>
</div>