<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%= link_to 'New Project', new_project_path, class: 'btn btn-default'  %>

      <h1>I have got <%= @users_projects.count %> projects!</h1>

      <%= render '/projects/shared/users_projects_list' %>
    </div>
    <div class="col-md-3">
      <%= render '/applications/shared/my_application' %>
    </div>
  </div>
</div>

