<div class="my_projects">
  <div class="row">
    <div class="col-md-9">
      <% if current_user.checked? || current_user.admin? %>
      <%= link_to 'New Project', new_project_path, class: 'btn btn-default'  %>
      <% end %>
      <%= render '/projects/shared/users_projects_list' %>
    </div>
    <div class="col-md-3">
      <%= render '/applications/shared/my_application_status' %>
    </div>
  </div>
</div>

