<div class="tags-cloud">
  <h3>Tags:</h3>
  <%  tag_cloud Project.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag), class: css_class %>
  <% end %>
</div>