/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #FFC450;
}
.btn-default {
  color: #F7F7F7;
}

.project-properties {
  font-size: 20pt;
}

.project-properties-small {
  font-size: 15pt;
  color: #666666;
}

.project-properties-index {
  font-size: 12pt;
}

.content-grid {
  max-width: 960px;
}

.project-cell {
  background-color: #EFEFEF;
  color: black;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.css1 { font-size: 1.0em;}
.css2 { font-size: 1.2em;}
.css3 { font-size: 1.4em;}
.css4 { font-size: 1.6em;}

.card_image {
  object-fit: cover;
  width:400px;
  height:200px;
  max-width: 100%;
}